.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrowLeft1{
  position: absolute;
  clip: rect(0px,17px,17px,0px);
  margin-left: -52px;
  margin-top:37px;
  z-index: 100;
  zoom: 1.8;
}
.arrowLeft2{
  position: absolute;
  clip: rect(0px,34px,17px,18px);
  margin-left: -69px;
  margin-top:37px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRight1{
  position:absolute;
  clip: rect(17px,17px,34px,0px);
  margin-left: 35px;
  margin-top:20px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRight2{
  position:absolute;
  clip: rect(17px,34px,34px,18px);
  margin-left: 18px;
  margin-top:20px;
  z-index: 100;
  zoom: 1.8;
}
.arrowLeftY1{
  position: absolute;
  clip: rect(0px,17px,17px,0px);
  margin-left: -52px;
  margin-top:1px;
  z-index: 100;
  zoom: 1.8;
}
.arrowLeftY2{
  position: absolute;
  clip: rect(0px,34px,17px,18px);
  margin-left: -69px;
  margin-top:1px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRightY1{
  position:absolute;
  clip: rect(17px,17px,34px,0px);
  margin-left: 35px;
  margin-top:-17px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRightY2{
  position:absolute;
  clip: rect(17px,34px,34px,18px);
  margin-left: 18px;
  margin-top:-17px;
  z-index: 100;
  zoom: 1.8;
}
.arrowLeftZ1{
  position: absolute;
  clip: rect(0px,17px,17px,0px);
  margin-left: -52px;
  margin-top:19px;
  z-index: 100;
  zoom: 1.8;
}
.arrowLeftZ2{
  position: absolute;
  clip: rect(0px,34px,17px,18px);
  margin-left: -69px;
  margin-top:19px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRightZ1{
  position:absolute;
  clip: rect(17px,17px,34px,0px);
  margin-left: 35px;
  margin-top:2px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRightZ2{
  position:absolute;
  clip: rect(17px,34px,34px,18px);
  margin-left: 18px;
  margin-top:2px;
  z-index: 100;
  zoom: 1.8;
}


.x1{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x1 img {
  width: 480px;
  height: 480px;
  margin: 0.7px 0px 0px -25px;
  position:absolute;
}
.x2{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x2 img{
  width: 480px;
  height: 480px;
  margin: 0.7px 0px 0px -72.5px;
  position:absolute;
}
.x3{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x3 img{
  width: 480px;
  height: 480px;
  margin: 0.7px 0px 0px -120px;
  position:absolute;
}
.x4{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x4 img{
  width: 480px;
  height: 480px;
  margin:0px 0px 0px -169.5px;
  position:absolute;
}
.x5{
  position: absolute;
  width: 46px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x5 img{
  width: 480px;
  height: 480px;
  margin: 0px 0px 0px -218.7px;
  position:absolute;
}
.x6{
  position: absolute;
  width: 46px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  
}
.x6 img{
  width: 480px;
  height: 480px;
  margin: 0.7px 0px 0px -264px;
  position:absolute;
}
.x7{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x7 img{
  width: 480px;
  height: 480px;
  margin: 0.5px 0px 0px -312.5px;
  position:absolute;
}
.x8{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x8 img{
  width: 480px;
  height: 480px;
  margin: 0.7px 0px 0px -361px;
  position:absolute;
}
.x9{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x9 img{
  width: 480px;
  height: 480px;
  margin: 0.1px 0px 0px -409px;
  position:absolute;
}
.x10{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x10 img{
  width: 480px;
  height: 480px;
  margin: 0.5px 0px 0px -457px;
  position:absolute;
}
.x11{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:3px;
}
.x11 img {
  width: 480px;
  height: 480px;
  margin: -49.3px 0px 0px -25px;
  position:absolute;
}
.x12{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:3px;
}
.x12 img{
  width: 480px;
  height: 480px;
  margin: -49.3px 0px 0px -73px;
  position:absolute;
}
.x13{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:2px;
}
.x13 img{
  width: 480px;
  height: 480px;
  margin: -49.4px 0px 0px  -120px;
  position:absolute;
}
.x14{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:3px;
}
.x14 img{
  width: 480px;
  height: 480px;
  margin: -50.5px 0px 0px -169.5px;
  position:absolute;
}
.x15{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:2.9px;
}
.x15 img{
  width: 480px;
  height: 480px;
  margin: -50.5px 0px 0px -220px;
  position:absolute;
}
.x16{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:2.9px;
  margin-left: -2.65px;
}
.x16 img{
  width: 480px;
  height: 480px;
  margin: -50.5px 0px 0px -265.5px;
  position:absolute;
}
.x17{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:2.8px;
}
.x17 img{
  width: 480px;
  height: 480px;
  margin: -51px 0px 0px -313px;
  position:absolute;
}
.y1{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  margin-left: -3px;
}
.y1 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 1px 0px 0px -24px;
  
}
.y2{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  margin-left: -2.5px;
  margin-top: -9px;
}
.y2 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 11px 0px 0px -72px;
  
}
.y3{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  margin-top:1px;
}
.y3 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 1px 0px 0px -122px;
  
}
.y4{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y4 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 4px 0px 0px -172px;
  
}
.y5{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y5 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 2px 0px 0px -219px;
  
}
.y6{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y6 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 3px 0px 0px -266px;
  
}
.y7{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y7 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 5px 0px 0px -314px;
  
}
.y8{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y8 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 4px 0px 0px -365px;
  
}
.y9{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y9 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 5px 0px 0px -412px;
  
}
.y10{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y10 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 3px 0px 0px -458px;
  
}
.y11{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  margin-left: -5px;
}
.y11 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -23px;
  
}
.y12{
  position: absolute;
  width: 50px;
  height: 48px;
  overflow: hidden;
  zoom:1.3;
  z-index:2;
  margin-top: -5px;
  margin-left: 4px;
}
.y12 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -39px 0px 0px -72px;
  
}
.y13{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y13 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -122px;
  
}
.y14{
  position: absolute;
  width: 57px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  margin-left: -6px;
}
.y14 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -172px;
  
}
.y15{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y15 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -222px;
  
}
.y16{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y16 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -50px 0px 0px -267px;
  
}
.y17{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y17 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -315.5px;
  
}
.y18{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y18 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -366px;
  
}
.y19{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.86 ;
  z-index:2;
  /* margin-left: -3px; */
}
.y19 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -412px;
  
}
.y20{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.9;
  z-index:2;
  /* margin-left: -3px; */
}
.y20 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -48px 0px 0px -458px;
  
}
.y21{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y21 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -90px 0px 0px -27px;
  
}
.y22{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  margin-top: -3px;
  margin-left: -1px;
}
.y22 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -93px 0px 0px -74px;
  
}
.y23{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y23 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -93px 0px 0px -122px;
  
}
.y24{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  z-index:2;
  /* margin-left: -3px; */
}
.y24 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -96px 0px 0px -170px;
  
}

.z1{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1;
  z-index:2;
  margin-left: 7px;
  margin-top: 22px;
}
.z1 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 0.5px 0px 0px -15px;
  
}
.z2{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1;
  z-index:2;
  margin-left: 15px;
  margin-top: 15px;
}
.z2 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 11px 0px 0px -72px;
  
}
.z3{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.2;
  z-index:2;
  margin-left: 12px;
  margin-top: 15px;
}
.z3 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 1px 0px 0px -122px;
  
}
.z4{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1;
  z-index:2;
  margin-left: 20px;
  margin-top: 25px;
  /* margin-left: -3px; */
}
.z4 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 4px 0px 0px -172px;
  
}
.z5{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1;
  z-index:2;
  margin-left: 20px;
  margin-top: 25px;
  /* margin-left: -3px; */
}
.z5 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 2px 0px 0px -219px;
  
}
.z6{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.2;
  z-index:2;
  margin-left: 10px;
  margin-top: 15px;
  /* margin-left: -3px; */
}
.z6 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 3px 0px 0px -266px;
  
}
.z7{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1;
  z-index:2;
  margin-left: 18px;
  margin-top: 20px;
  /* margin-left: -3px; */
}
.z7 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 5px 0px 0px -314px;
  
}
.z8{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1;
  z-index:2;
  margin-left: 20px;
  margin-top: 20px;
  /* margin-left: -3px; */
}
.z8 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 4px 0px 0px -365px;
  
}
.z9{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1;
  z-index:2;
  margin-left: 20px;
  margin-top: 20px;
  /* margin-left: -3px; */
}
.z9 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 5px 0px 0px -412px;
  
}
.z10{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1;
  z-index:2;
  margin-left: 20px;
  margin-top: 24px;
  /* margin-left: -3px; */
}
.z10 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: 3px 0px 0px -458px;
  
}
.z11{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1;
  z-index:2;
 
  margin-left: 13px;
  margin-top: 22px;
}
.z11 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -23px;
  
}
.z12{
  position: absolute;
  width: 50px;
  height: 48px;
  overflow: hidden;
  zoom: 1.2;
  z-index:2;
  margin-left: 7px;
  margin-top: 8px;
}
.z12 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -39px 0px 0px -72px;
  
}
.z13{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.2;
  z-index:2;
  margin-left: 11px;
  margin-top: 12px;
  /* margin-left: -3px; */
}
.z13 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -122px;
  
}
.z14{
  position: absolute;
  width: 57px;
  height: 48px;
  overflow: hidden;
  zoom: 1.4;
  z-index:2;

  margin-left: 2.5px;
  margin-top: 9px;
}
.z14 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -172px;
  
}
.z15{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.4;
  z-index:2;

  margin-left: 7px;
  margin-top: 9px;
  /* margin-left: -3px; */
}
.z15 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -45px 0px 0px -220px;
  
}
.z16{
  position: absolute;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.5;
  z-index:2;
  /* margin-left: -3px; */

  margin-left: 4px;
  margin-top: 10px;
}
.z16 img {
  z-index:2;
  position: absolute;
  width: 480px;
  height: 480px;
  margin: -50px 0px 0px -267px;
  
}



#chatRoom{
  
  border-radius: 5px;
  z-index:100;
  position: absolute;
  min-width: 70%;
  width: auto;
  height: 750px;
  text-align: center;
  background-color: white;
  margin: 1vh 12vw;
  vertical-align: middle;

  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 30%;
}

#nameForm{
  z-index:100000;
  position: absolute;
  width:100%;
  height: 100vh;
  text-align: center; 
  background-color: white;
  /* margin: 15vh 5%; */
  vertical-align: middle;
  background-color: palevioletred;
}
#map {
  position: absolute;
  /* top: 64px;
  left: 0;
  right: 0; */
  /* bottom: 0; */
  width: 100%;
  height: 100%;
  z-index: 1; 
  background-color: rgb(47,133,220);
}

.scrollBar{
    background-color: lightskyblue;
    border-radius: 5px;
    /* box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12); */
    width: 370px;
    height: 370px;
    overflow-y:scroll;
    /* margin: 0 5%; */
}

.chatSet{
  margin: 0 5%;
  background-color: lightskyblue;
  border-radius: 5px;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  width: 370px;
  height: 420px;
  display: inline-block;
}
#buttons{
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.translationButtons {
  display: flex;
  justify-content: space-between;
}
#videos{
  /* display: inline-block; */
}
#remoteVideo{
  /* display: inline-block; */
  height:20vw;
  width:25vw;
  display: block;
}
#localVideo{
  /* display: inline-block; */
  height:20vw;
  width:25vw;
  display: block;
}
.messageForm{
  display: block;
  width:370px;
  height:70px;
  background-color: darkblue;
  border-radius: 5px;
}
.messageOnSubmit{
  display: inline-block;
}
.userName {
  z-index: 2;
  position: absolute;
  font-size: 50px;
  margin-left: 50px;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 1.5px #000;
}

.countryName {
  z-index: 100;
  position: absolute;
  font-size: 50px;
  width: 98%;
  text-align: right;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 1.5px #000;
}
.namePage{
  color:white;
  font-size: 55px;
  -webkit-text-stroke: 1px #000;
  display: inline-block;
  margin: 2% auto;

}

/*吹き出し*/
.balloon_l,
.balloon_r{
  margin: 30px 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; /*縦位置を上揃え*/
/*   align-items: center; */ /*縦位置を真ん中揃え*/
}
.balloon_l{
  margin-left: 15px;
}
.balloon_r{
margin-right:5px;
  justify-content:flex-end;
}
.faceicon{

  height: 48px; 
  width: 70px;
  position: relative;
}

.balloon_r .faceicon{
  margin-left:25px;
}
.balloon_l .faceicon{
  margin-right:25px;
}
.balloon_r .faceicon{
  order:2 !important;
}
.says {
  max-width:200px; /*最大幅は任意*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #99dddd;/*色は任意*/
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
/*   align-items: center; */
}
.says p{
  margin:8px 0 0 !important; 
  max-width:150px;
  word-wrap:break-word;
  text-align: left;
}
.says p:first-child{
  margin-top:0 !important;
  max-width:150px;
  word-wrap:break-word;
  text-align: left;
  
}
.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
/*   margin-top:-3px;  */
}
.balloon_l .says:after {
  left: -26px;
  border-right: 22px solid #99dddd;
}
.balloon_r .says:after {
  right: -26px;
  border-left: 22px solid #99dddd;
}

/*Transitions*/
.fallingFadeIn-enter {
  opacity: 0.01;
  top: -20px;
  position: relative; }

.fallingFadeIn-enter.fallingFadeIn-enter-active {
  opacity: 1;
  top: 0;
  position: relative;
  transition: opacity 500ms ease-in, top 500ms linear; }

/*Transitions End*/

/************************** start of country transition ***********************/
.countryTransition-appear {
  opacity: 0.01; }

.countryTransition-appear.countryTransition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.countryTransitionMsg {
  position: absolute;
  top: 25vh;
  width: 100%;
  z-index: 99;
  text-align: center; 
}
  .countryTransitionMsg img {
    padding-top: 7.5px;
    padding-right: 14.2px;
    clip-path: circle(92px at center);
    width: 376px; 
  }

.countryTransitionMsg h1 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 0.4em;
  font-weight: bold;
  margin-top: -30px;
  text-shadow: 0px 0px 30px white;
  /*color: gray; */
  /*font-family: 'Lato', sans-serif;*/ }

/***************************** end of country transition *********************/

