.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrowLeft1{
  position: absolute;
  clip: rect(0px,17px,17px,0px);
  margin-left: -47px;
  margin-top:58px;
  z-index: 100;
  zoom: 1.8;
}
.arrowLeft2{
  position: absolute;
  clip: rect(0px,34px,17px,18px);
  margin-left: -64px;
  margin-top:58px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRight1{
  position:absolute;
  clip: rect(17px,17px,34px,0px);
  margin-left: 35px;
  margin-top:40px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRight2{
  position:absolute;
  clip: rect(17px,34px,34px,18px);
  margin-left: 18px;
  margin-top:40px;
  z-index: 100;
  zoom: 1.8;
}
.arrowLeftY1{
  position: absolute;
  clip: rect(0px,17px,17px,0px);
  margin-left: -47px;
  margin-top:25px;
  z-index: 100;
  zoom: 1.8;
}
.arrowLeftY2{
  position: absolute;
  clip: rect(0px,34px,17px,18px);
  margin-left: -64px;
  margin-top:25px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRightY1{
  position:absolute;
  clip: rect(17px,17px,34px,0px);
  margin-left: 35px;
  margin-top:7px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRightY2{
  position:absolute;
  clip: rect(17px,34px,34px,18px);
  margin-left: 18px;
  margin-top:7px;
  z-index: 100;
  zoom: 1.8;
}
.arrowLeftZ1{
  position: absolute;
  clip: rect(0px,17px,17px,0px);
  margin-left: -47px;
  margin-top:42.5px;
  z-index: 100;
  zoom: 1.8;
}
.arrowLeftZ2{
  position: absolute;
  clip: rect(0px,34px,17px,18px);
  margin-left: -64px;
  margin-top:42.5px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRightZ1{
  position:absolute;
  clip: rect(17px,17px,34px,0px);
  margin-left: 35px;
  margin-top:23.5px;
  z-index: 100;
  zoom: 1.8;
}
.arrowRightZ2{
  position:absolute;
  clip: rect(17px,34px,34px,18px);
  margin-left: 18px;
  margin-top:23.5px;
  z-index: 100;
  zoom: 1.8;
}

.crop {
  width: 17px;
  height: 17px;
  overflow: hidden;
  zoom: 150%;
  position: relative;
}

.crop img {
  width: 33px;
  height: 33px;
  margin: -17px 0 0 -9px;
  position: absolute;
}

.x1{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x1 img {
  width: 480px;
  height: 480px;
  margin: 0.7px 0px 0px -1px;
}
.x2{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x2 img{
  width: 480px;
  height: 480px;
  margin: 0.7px 0px 0px -48.5px;
}
.x3{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x3 img{
  width: 480px;
  height: 480px;
  margin: 0.7px 0px 0px -96px;
}
.x4{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x4 img{
  width: 480px;
  height: 480px;
  margin:0px 0px 0px -145.5px;
}
.x5{
  position: relative;
  width: 46px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x5 img{
  width: 480px;
  height: 480px;
  margin: 0px 0px 0px -195.5px;
}
.x6{
  position: relative;
  width: 46px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x6 img{
  width: 480px;
  height: 480px;
  margin: 0.7px 0px 0px -241px;
}
.x7{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x7 img{
  width: 480px;
  height: 480px;
  margin: 0px 0px 0px -288.5px;
}
.x8{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x8 img{
  width: 480px;
  height: 480px;
  margin: 0.7px 0px 0px -337px;
}
.x9{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x9 img{
  width: 480px;
  height: 480px;
  margin: 0px 0px 0px -385px;
}
.x10{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
}
.x10 img{
  width: 480px;
  height: 480px;
  margin: 0.5px 0px 0px -434px;
}
.x11{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:3px;
}
.x11 img {
  width: 480px;
  height: 480px;
  margin: -49.3px 0px 0px -1.3px;
}
.x12{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:3px;
}
.x12 img{
  width: 480px;
  height: 480px;
  margin: -49.3px 0px 0px -49.15px;
}
.x13{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:2px;
}
.x13 img{
  width: 480px;
  height: 480px;
  margin: -49.4px 0px 0px -95.9px;
}
.x14{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:3px;
}
.x14 img{
  width: 480px;
  height: 480px;
  margin: -50.5px 0px 0px -145.5px;
}
.x15{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:2.9px;
}
.x15 img{
  width: 480px;
  height: 480px;
  margin: -50.5px 0px 0px -196px;
}
.x16{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:2.9px;
  margin-left: -2.65px;
}
.x16 img{
  width: 480px;
  height: 480px;
  margin: -50.5px 0px 0px -241.5px;
}
.x17{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  zoom: 1.8;
  margin-top:2.8px;
}
.x17 img{
  width: 480px;
  height: 480px;
  margin: -51px 0px 0px -289px;
  
}
.y1{
  z-index: 99;
  position: absolute;
  clip: rect(0px,48px,48px,0px);
  margin-top: 10px; 
  margin-left: -24.5px;
  zoom: 1.8;
}
.y2{
  z-index: 99;
  position: absolute;
  clip: rect(0px,96px,48px,49px);
  margin:auto;
  margin-top: 10px; 
  margin-left: -72.5px; 
  zoom: 1.8;
}
.y3{
  z-index: 99;
  position: absolute;
  clip: rect(0px,144px,48px,97px);
  margin-top: 10px; 
  margin-left: -120px; 
  zoom: 1.8;
}
.y4{
  z-index: 99;
  position: absolute;
  clip: rect(0px,193px,48px,147px);
  margin-top: 10px; 
  margin-left: -168.5px; 
  zoom: 1.8;
}
.y5{
  z-index: 99;
  position: absolute;
  clip: rect(0px,240px,48px,194px);
  margin-top: 10px; 
  margin-left: -215.5px; 
  zoom: 1.8;
}
.y6{
  z-index: 99;
  position: absolute;
  clip: rect(0px,288px,48px,242px);
  margin-top: 10px; 
  margin-left: -264.5px; 
  zoom: 1.8;
}
.y7{
  z-index: 99;
  position: absolute;
  clip: rect(0px,337px,48px,291px);
  margin-top: 10px; 
  margin-left: -311.5px; 
  zoom: 1.8;
}
.y8{
  z-index: 99;
  position: absolute;
  clip: rect(0px,384px,48px,341px);
  margin-top: 10px; 
  margin-left: -356px; 
  zoom: 1.8;
}
.y9{
  z-index: 99;
  position: absolute;
  clip: rect(0px,433px,48px,389px);
  margin-top: 10px; 
  margin-left: -404px; 
  zoom: 1.8;
}
.y10{
  z-index: 99;
  position: absolute;
  clip: rect(0px,480px,48px,434px);
  margin-top: 10px; 
  margin-left: -452px; 
  zoom: 1.8;
}
.y11{
  z-index: 99;
  position: absolute;
  clip: rect(49px,48px,97px,0px);
  margin-top: -23px;  
  margin-left: -20px;
  zoom: 1.8;
}
.y12{
  z-index: 99;
  position: absolute;
  clip: rect(49px,96px,97px,49px);
  margin:auto;
  margin-top: -23px; 
  margin-left: -68px; 
  zoom: 1.8;
}
.y13{
  z-index: 99;
  position: absolute;
  clip: rect(49px,144px,97px,97px);
  margin-top: -23px; 
  margin-left: -116px; 
  zoom: 1.8;
}
.y14{
  z-index: 99;
  position: absolute;
  clip: rect(49px,193px,97px,147px);
  margin-top: -23px; 
  margin-left: -164px; 
  zoom: 1.8;
}
.y15{
  z-index: 99;
  position: absolute;
  clip: rect(49px,240px,97px,194px);
  margin-top: -23px; 
  margin-left: -212px; 
  zoom: 1.8;
}
.y16{
  z-index: 99;
  position: absolute;
  clip: rect(49px,288px,97px,242px);
  margin-top: -23px; 
  margin-left: -260px; 
  zoom: 1.8;
}
.y17{
  z-index: 99;
  position: absolute;
  clip: rect(49px,337px,97px,291px);
  margin-top: -23px; 
  margin-left: -308px; 
  zoom: 1.8;
}
.y18{
  z-index: 99;
  position: absolute;
  clip: rect(49px,384px,97px,341px);
  margin-top: -23px;  
  margin-left: -356px; 
  zoom: 1.8;
}
.y19{
  z-index: 99;
  position: absolute;
  clip: rect(49px,433px,97px,389px);
  margin-top: -23px; 
  margin-left: -404px; 
  zoom: 1.8;
}
.y20{
  z-index: 99;
  position: absolute;
  clip: rect(49px,480px,97px,434px);
  margin-top: -23px; 
  margin-left: -452px; 
  zoom: 1.8;
}
.y21{
  z-index: 99;
  position: absolute;
  clip: rect(98px,48px,146px,0px);
  margin-top: -71px;  
  margin-left: -20px;
  zoom: 1.8;
}
.y22{
  z-index: 99;
  position: absolute;
  clip: rect(98px,96px,146px,49px);
  margin:auto;
  margin-top: -71px; 
  margin-left: -68px; 
  zoom: 1.8;
}
.y23{
  z-index: 99;
  position: absolute;
  clip: rect(98px,144px,146px,97px);
  margin-top: -71px; 
  margin-left: -116px; 
  zoom: 1.8;
}
.y24{
  z-index: 99;
  position: absolute;
  clip: rect(98px,193px,146px,147px);
  margin-top: -71px; 
  margin-left: -164px; 
  zoom: 1.8;
}
.y25{
  z-index: 99;
  position: absolute;
  clip: rect(98px,240px,146px,194px);
  margin-top: -71px; 
  margin-left: -212px; 
  zoom: 1.8;
}
.y26{
  z-index: 99;
  position: absolute;
  clip: rect(98px,288px,146px,242px);
  margin-top: -71px; 
  margin-left: -260px; 
  zoom: 1.8;
}
.y27{
  z-index: 99;
  position: absolute;
  clip: rect(98px,337px,146px,291px);
  margin-top:-71px; 
  margin-left: -308px; 
  zoom: 1.8;
}
.y28{
  z-index: 99;
  position: absolute;
  clip: rect(98px,384px,146px,341px);
  margin-top:-71px; 
  margin-left: -356px; 
  zoom: 1.8;
}
.y29{
  z-index: 99;
  position: absolute;
  clip: rect(98px,433px,146px,389px);
  margin-top: -71px; 
  margin-left: -404px; 
  zoom: 1.8;
}
.y30{
  z-index: 99;
  position: absolute;
  clip: rect(98px,480px,146px,434px);
  margin-top: -71px;  
  margin-left: -452px; 
  zoom: 1.8;
}

.y31{
  z-index: 99;
  position: absolute;
  clip: rect(147px,48px,195px,0px);
  margin-top: -119px;  
  margin-left: -20px;
  zoom: 1.8;
}
.z1{
  z-index: 99;
  position: absolute;
  clip: rect(0px,48px,48px,0px);
  margin-top: 8px; 
  margin-left: -24.5px;
  zoom: 1.8;
}
.z2{
  z-index: 99;
  position: absolute;
  clip: rect(0px,96px,48px,49px);
  margin:auto;
  margin-top: 25px; 
  margin-left: -68px; 
  zoom: 1.8;
}
.z3{
  z-index: 99;
  position: absolute;
  clip: rect(0px,144px,48px,97px);
  margin-top: 25px; 
  margin-left: -116px; 
  zoom: 1.8;
}
.z4{
  z-index: 99;
  position: absolute;
  clip: rect(0px,193px,48px,147px);
  margin-top: 25px; 
  margin-left: -164px; 
  zoom: 1.8;
}
.z5{
  z-index: 99;
  position: absolute;
  clip: rect(0px,240px,48px,194px);
  margin-top: 25px; 
  margin-left: -212px; 
  zoom: 1.8;
}
.z6{
  z-index: 99;
  position: absolute;
  clip: rect(0px,288px,48px,242px);
  margin-top: 25px; 
  margin-left: -260px; 
  zoom: 1.8;
}
.z7{
  z-index: 99;
  position: absolute;
  clip: rect(0px,337px,48px,291px);
  margin-top: 25px; 
  margin-left: -308px; 
  zoom: 1.8;
}
.z8{
  z-index: 99;
  position: absolute;
  clip: rect(0px,384px,48px,341px);
  margin-top: 25px; 
  margin-left: -356px; 
  zoom: 1.8;
}
.z9{
  z-index: 99;
  position: absolute;
  clip: rect(0px,433px,48px,389px);
  margin-top: 25px; 
  margin-left: -404px; 
  zoom: 1.8;
}
.z10{
  z-index: 99;
  position: absolute;
  clip: rect(0px,480px,48px,434px);
  margin-top: 25px; 
  margin-left: -452px; 
  zoom: 1.8;
}
.z11{
  z-index: 99;
  position: absolute;
  clip: rect(49px,48px,100px,0px);
  margin-top: -23px;  
  margin-left: -20px;
  zoom: 1.8;
}
.z12{
  z-index: 99;
  position: absolute;
  clip: rect(49px,96px,100px,49px);
  margin:auto;
  margin-top: -23px; 
  margin-left: -68px; 
  zoom: 1.8;
}
.z13{
  z-index: 99;
  position: absolute;
  clip: rect(49px,144px,100px,97px);
  margin-top: -23px; 
  margin-left: -116px; 
  zoom: 1.8;
}
.z14{
  z-index: 99;
  position: absolute;
  clip: rect(49px,193px,100px,147px);
  margin-top: -23px; 
  margin-left: -164px; 
  zoom: 1.8;
}
.z15{
  z-index: 99;
  position: absolute;
  clip: rect(49px,240px,100px,194px);
  margin-top: -23px; 
  margin-left: -212px; 
  zoom: 1.8;
}
.z16{
  z-index: 99;
  position: absolute;
  clip: rect(49px,288px,100px,242px);
  margin-top: -23px; 
  margin-left: -260px; 
  zoom: 1.8;
}
.z17{
  z-index: 99;
  position: absolute;
  clip: rect(49px,337px,100px,291px);
  margin-top: -23px; 
  margin-left: -308px; 
  zoom: 1.8;
}
.z18{
  z-index: 99;
  position: absolute;
  clip: rect(49px,384px,100px,341px);
  margin-top: -23px;  
  margin-left: -356px; 
  zoom: 1.8;
}
.z19{
  z-index: 99;
  position: absolute;
  clip: rect(49px,433px,100px,389px);
  margin-top: -23px; 
  margin-left: -404px; 
  zoom: 1.8;
}
.z20{
  z-index: 99;
  position: absolute;
  clip: rect(49px,480px,100px,434px);
  margin-top: -23px; 
  margin-left: -452px; 
  zoom: 1.8;
}
.z21{
  z-index: 99;
  position: absolute;
  clip: rect(101px,48px,149px,0px);
  margin-top: -71px;  
  margin-left: -20px;
  zoom: 1.8;
}
.z22{
  z-index: 99;
  position: absolute;
  clip: rect(101px,96px,149px,49px);
  margin:auto;
  margin-top: -71px; 
  margin-left: -68px; 
  zoom: 1.8;
}
.z23{
  z-index: 99;
  position: absolute;
  clip: rect(101px,144px,149px,97px);
  margin-top: -71px; 
  margin-left: -116px; 
  zoom: 1.8;
}
.z24{
  z-index: 99;
  position: absolute;
  clip: rect(101px,193px,149px,147px);
  margin-top: -71px; 
  margin-left: -164px; 
  zoom: 1.8;
}


#chatRoom{
  
  border-radius: 5px;
  z-index:100000;
  position: absolute;
  width:90%;
  height: 1000px;
  text-align: center; 
  background-color: white;
  margin: 10vh 5%;
  vertical-align: middle;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}
#videos{
  display: inline-block;
  width:40vw;
}
#localVideo{
  display: inline-block;
  width:30vw;
}
#remoteVideo{
  display: inline-block;
  width:20vw;
}

#nameForm{
  z-index:100000;
  position: absolute;
  width:100%;
  height: 100vh;
  text-align: center; 
  background-color: white;
  /* margin: 15vh 5%; */
  vertical-align: middle;
  background-color: palevioletred;
}
#map {
  position: absolute;
  /* top: 64px;
  left: 0;
  right: 0; */
  /* bottom: 0; */
  width: 100%;
  height: 100%;
  z-index: 1; 
}

.scrollBar{
    background-color: lightskyblue;
    border-radius: 5px;
    /* box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12); */
    width: 350px;
    height: 350px;
    overflow-y:scroll;
    /* margin: 0 5%; */
}

.chatSet{
  margin: 0 5%;
  background-color: lightskyblue;
  border-radius: 5px;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  width: 350px;
  height: 420px;
  display: inline-block;
}
.messageForm{
  display: block;
  width:350px;
  height:70px;
  background-color: darkblue;
  border-radius: 5px;
}
.messageOnSubmit{
  display: inline-block;
}

.countryName {
  z-index: 100;
  position: absolute;
  font-size: 50px;
  width: 98%;
  text-align: right;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 1.5px #000;
}
.namePage{
  color:white;
  font-size: 40px;
  -webkit-text-stroke: 1px #000;
  display: inline-block;
  margin-left: 20%;
}

/*吹き出し*/
.balloon_l,
.balloon_r{
  margin: 30px 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; /*縦位置を上揃え*/
/*   align-items: center; */ /*縦位置を真ん中揃え*/
}
.balloon_r{

  justify-content:flex-end;
}
.faceicon{

  height: 48px; 
  width: 70px;
  position: relative;
}

.balloon_r .faceicon{
  margin-left:25px;
}
.balloon_l .faceicon{
  margin-right:25px;
}
.balloon_r .faceicon{
  order:2 !important;
}
.says {
  max-width:200px; /*最大幅は任意*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #99dddd;/*色は任意*/
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
/*   align-items: center; */
}
.says p{
  margin:8px 0 0 !important; 
  max-width:150px;
  word-wrap:break-word;
  text-align: left;
}
.says p:first-child{
  margin-top:0 !important;
  max-width:150px;
  word-wrap:break-word;
  text-align: left;
  
}
.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
/*   margin-top:-3px;  */
}
.balloon_l .says:after {
  left: -26px;
  border-right: 22px solid #99dddd;
}
.balloon_r .says:after {
  right: -26px;
  border-left: 22px solid #99dddd;
}

/*Transitions*/
.fallingFadeIn-enter {
  opacity: 0.01;
  top: -20px;
  position: relative; }

.fallingFadeIn-enter.fallingFadeIn-enter-active {
  opacity: 1;
  top: 0;
  position: relative;
  transition: opacity 500ms ease-in, top 500ms linear; }

/*Transitions End*/

/************************** start of country transition ***********************/
.countryTransition-appear {
  opacity: 0.01; }

.countryTransition-appear.countryTransition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.countryTransitionMsg {
  position: absolute;
  top: 25vh;
  width: 100%;
  z-index: 99;
  text-align: center; 
}
  .countryTransitionMsg img {
    padding-top: 7.5px;
    padding-right: 14.2px;
    clip-path: circle(92px at center);
    width: 376px; 
  }

.countryTransitionMsg h1 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 0.4em;
  font-weight: bold;
  margin-top: -30px;
  text-shadow: 0px 0px 30px white;
  /*color: gray; */
  /*font-family: 'Lato', sans-serif;*/ }

/***************************** end of country transition *********************/

